
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue', 
  sans-serif;
  font-family: 'Poppins', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NHaasGroteskDSPro-65Md' ;
}
::-webkit-scrollbar{
   max-width: 4px;
}
::-webkit-scrollbar-track{
  background:black;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb{
  background: gray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
 

  font-family: 'Poppins', sans-serif; 
}
#carousel{
  max-height: 500px;
}
